.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: 5px;
  width: 70vw;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px black solid;
  height: 100px;
  width: 70px;
}
.standard-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
